ceri-tooltip.materialize
  padding: 6px 8px
  font-size: 0.8rem
  z-index: 2000
  background-color: #616161
  border-radius: 2px
  color: #fff
  margin: 14px
  text-align: center
  pointer-events: none
  will-change: transform
+screenOnlyAnd($medium-and-down)
  ceri-tooltip.materialize
    margin: 24px
    padding: 12px 16px
    font-size: 1rem
